.card-container {
  width: 100%;
  margin: 0 auto;
}

.card-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  @media (max-width: 1300px) {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
  }
  @media (max-width: $large-width) {
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-columns: auto;
  }

  &__item {
    min-height: 264px;
    width: 264px;
    background-color: #f4f3ee;

    @include card-border(transparent);

    @media (max-width: 1300px) {
      height: 357px;
      min-width: 357px;
    }
    @media (max-width: $large-width) {
      margin: 0 auto;
    }

    &--active {
      background-color: $primary;

      @include card-border(white);
    }

    &--active-inverted {
      background-color: white;

      @include card-border($primary);
    }
  }
}
