footer {
  background-color: $light;
  flex-shrink: 0;
  margin-top: 250px;
}

.footer-container {
  @extend .main-container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;

  @media (max-width: $medium-width) {
    flex-direction: column;
    height: 92px;
    justify-content: space-evenly;
  }

  &__link {
    color: $navbar-light-color;
    font-size: 0.75rem;
  }
}
